body {
    background-color: rgb(128, 145, 128);
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-height: 300px;
}

@media screen and (max-width: 768px) {
    .banner img {
        max-width: 100%;
        height: auto;
    }
}

.head {
    background-color: rgba(0, 132, 61, 255);
    text-align: center;
    color: white;
    height: 35px;
}

.calpoly {
    color: rgba(252, 195, 0, 255);
    font-weight: bold;

}

.hours {
    margin-left: 1rem;
    margin-top: .5rem;
    border-color: black;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 2rem;
}

.center-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #e2dfdf;
}

.center-form input[type="text"],
.center-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgb(179, 179, 179);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.center-form button {
    margin-top: 1rem;
    background-color: #00843d;
    color: #fff;
    cursor: pointer;
}

.about {
    border: 2px solid #000;
    padding: 20px;
    width: 700px;
    margin-top: 3rem;
    background-color: rgb(211, 211, 211);
}

.about-text {
    font-weight: bold;
    text-decoration: underline;
}

.about-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: medium;
    color: white;
}

.clock-time {
    border: 2px solid #f3f3f3;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 50px auto 20px;
    max-height: 75px;
    background-color: #c4c1c1;
}

.clock-time h1 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
}

.clock-time p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}

.title {
    font-weight: bold;
}

.hours-logo {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(247, 233, 233);
    text-align: left;
    width: 270px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.hours-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .hours-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* Adjust for smaller screens */
    }
}

.resHours img {
    max-height: 50px;
    max-width: 50px;
    border: 1px solid #ccc;
    object-fit: cover;
}

.hours-logo h3 {
    font-weight: bold;
    text-decoration: underline;
}

.bruh {
    color: aqua
}

.dropdown-menu {
    padding-top: 0px;
}



.login {
    width: 90%;
    width: 300px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgb(201, 196, 196);
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 4px;
    margin: 0 auto;
}

.login h1 {
    font-weight: bold;
}

input[type="email"] {
    padding: 4px;
    margin: 1rem;
}

input[type="password"] {
    padding: 4px;
    margin: 1rem;
}

.submit-button {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.switch-acc {
    margin-left: 10px;
}